<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>note-1-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,1208},{400,400}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,400}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>note-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1142,1324},{246,334}}</string>
                <key>offset</key>
                <string>{51,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{128,30},{246,334}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>note-10-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,806},{400,400}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,400}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>note-10.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,404},{246,338}}</string>
                <key>offset</key>
                <string>{51,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{128,26},{246,338}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>note-11-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,404},{400,400}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,400}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>note-11.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,1610},{246,338}}</string>
                <key>offset</key>
                <string>{51,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,26},{246,338}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>note-12-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{1610,2},{400,400}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,400}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>note-12.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,1610},{246,338}}</string>
                <key>offset</key>
                <string>{51,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,26},{246,338}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>note-2-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{1208,2},{400,400}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,400}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>note-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1054,988},{246,334}}</string>
                <key>offset</key>
                <string>{51,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,30},{246,334}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>note-3-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,2},{400,400}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,400}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>note-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1054,652},{246,334}}</string>
                <key>offset</key>
                <string>{51,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,30},{246,334}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>note-4-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,2},{400,400}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,400}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>note-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,1572},{246,334}}</string>
                <key>offset</key>
                <string>{51,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,30},{246,334}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>note-5-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1610},{400,400}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,400}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>note-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,1324},{246,334}}</string>
                <key>offset</key>
                <string>{51,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{128,30},{246,334}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>note-6-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1208},{400,400}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,400}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>note-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,988},{246,334}}</string>
                <key>offset</key>
                <string>{51,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,30},{246,334}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>note-7-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,806},{400,400}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,400}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>note-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,652},{246,334}}</string>
                <key>offset</key>
                <string>{51,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,30},{246,334}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>note-8-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,404},{400,400}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,400}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>note-8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1576,404},{246,334}}</string>
                <key>offset</key>
                <string>{51,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{128,30},{246,334}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>note-9-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{400,400}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,400}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>note-9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1240,404},{246,334}}</string>
                <key>offset</key>
                <string>{51,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{128,30},{246,334}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>synthPads-ipadhd.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4f3d2d66afd5df7d18626b22ae1dab61:1/1$</string>
            <key>textureFileName</key>
            <string>synthPads-ipadhd.png</string>
        </dict>
    </dict>
</plist>
