<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>blankRect.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,742},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>blankRectClear.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,2},{1,1}}</string>
                <key>offset</key>
                <string>{-9.5,9.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>chart_box_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,698},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>chart_box_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,710},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>control_panel.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{640,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,160}}</string>
                <key>sourceSize</key>
                <string>{640,160}</string>
            </dict>
            <key>control_separator.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,2},{2,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{2,70}}</string>
                <key>sourceSize</key>
                <string>{2,80}</string>
            </dict>
            <key>hamburger_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,658},{50,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,25},{50,30}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>hamburger_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,696},{50,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,25},{50,30}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>itemButtonArrowOff.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,576},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>itemButtonArrowOn.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,494},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>itemButtonAudioStopOff.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,412},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>itemButtonAudioStopOn.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,330},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>itemButtonSpeedDoubleOff.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,248},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>itemButtonSpeedDoubleOn.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,166},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>itemButtonWarpOff.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,84},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>itemButtonWarpOn.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,2},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>play_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,658},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,15},{50,50}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>play_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,644},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,15},{50,50}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>speaker_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,644},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,14},{52,52}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>speaker_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,644},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,14},{52,52}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>tick_dot_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,742},{14,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,17},{14,14}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>tick_dot_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,710},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,9},{30,30}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>uilayer-hd.png</string>
            <key>size</key>
            <string>{256,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:272ab9018f2ded3035ad2fbad8ec987d:1/1$</string>
            <key>textureFileName</key>
            <string>uilayer-hd.png</string>
        </dict>
    </dict>
</plist>
