<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>arrow_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,468},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>audio_box.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,144},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>audio_box_highlight.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{148,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,148}}</string>
                <key>sourceSize</key>
                <string>{148,148}</string>
            </dict>
            <key>audio_box_static.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,144},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>clear_rect_audio_batch.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,144},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>drum_primary_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,426},{60,64}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{60,64}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>drum_primary_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,310},{60,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{60,68}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>drum_primary_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,498},{60,64}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{60,64}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>drum_primary_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,362},{68,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,68}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>drum_primary_1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,418},{64,64}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>drum_primary_1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,316},{62,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{62,68}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>drum_primary_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,364},{60,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{60,68}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>drum_primary_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,492},{60,64}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{60,64}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>drum_primary_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,294},{68,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,68}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>drum_primary_2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,494},{64,64}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>drum_primary_2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,310},{62,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{62,68}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>drum_primary_3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,456},{60,64}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{60,64}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>drum_primary_3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,258},{68,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,68}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>drum_primary_3_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,432},{64,64}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>drum_primary_3_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,246},{62,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{62,68}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>drum_primary_4_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,246},{68,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,68}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>drum_primary_4_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,426},{64,64}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>drum_primary_4_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,246},{62,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{62,68}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>drum_primary_5_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,390},{64,64}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>drum_primary_5_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,430},{62,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{62,68}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>drum_primary_6_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,366},{62,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{62,68}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>entry_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,430},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>glyph_circle.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,472},{38,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{38,38}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>pad_border_corner.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,152},{72,72}}</string>
                <key>offset</key>
                <string>{-34,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,72}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>pad_border_corner_inside.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,150},{72,72}}</string>
                <key>offset</key>
                <string>{-34,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,72}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>pad_border_corner_outside.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,2},{140,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>pad_border_strait.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,144},{4,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,0},{4,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>pad_border_strait_right_fill.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,2},{72,140}}</string>
                <key>offset</key>
                <string>{34,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,0},{72,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>pad_fill.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,2},{140,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>tone_primary_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,380},{36,68}}</string>
                <key>offset</key>
                <string>{16,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,0},{36,68}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>tone_primary_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,554},{36,52}}</string>
                <key>offset</key>
                <string>{16,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,0},{36,52}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>tone_primary_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,512},{36,36}}</string>
                <key>offset</key>
                <string>{16,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,0},{36,36}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>tone_primary_1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,510},{36,36}}</string>
                <key>offset</key>
                <string>{15,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,0},{36,36}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>tone_primary_1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,488},{32,36}}</string>
                <key>offset</key>
                <string>{14,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,0},{32,36}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>tone_primary_1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,522},{30,36}}</string>
                <key>offset</key>
                <string>{12,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,0},{30,36}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>tone_primary_1_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,522},{28,36}}</string>
                <key>offset</key>
                <string>{11,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,0},{28,36}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>tone_primary_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,188},{64,68}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{64,68}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>tone_primary_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,380},{36,68}}</string>
                <key>offset</key>
                <string>{16,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,0},{36,68}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>tone_primary_2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,484},{36,62}}</string>
                <key>offset</key>
                <string>{16,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,0},{36,62}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>tone_primary_2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,554},{36,52}}</string>
                <key>offset</key>
                <string>{16,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,0},{36,52}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>tone_primary_2_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,430},{36,44}}</string>
                <key>offset</key>
                <string>{16,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,0},{36,44}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>tone_primary_2_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,488},{36,36}}</string>
                <key>offset</key>
                <string>{16,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,0},{36,36}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>tone_primary_3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,296},{68,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,68}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>tone_primary_3_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,372},{56,68}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,0},{56,68}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>tone_primary_3_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,380},{36,68}}</string>
                <key>offset</key>
                <string>{16,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,0},{36,68}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>tone_primary_3_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,150},{36,66}}</string>
                <key>offset</key>
                <string>{16,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,0},{36,66}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>tone_primary_3_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,518},{36,60}}</string>
                <key>offset</key>
                <string>{16,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,0},{36,60}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>tone_primary_4_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,292},{68,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,68}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>tone_primary_4_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,188},{64,68}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{64,68}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>tone_primary_4_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,374},{50,68}}</string>
                <key>offset</key>
                <string>{9,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,0},{50,68}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>tone_primary_4_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,380},{36,68}}</string>
                <key>offset</key>
                <string>{16,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,0},{36,68}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>tone_primary_5_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,224},{68,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,68}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>tone_primary_5_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,226},{68,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,68}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>tone_primary_5_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,328},{60,68}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{60,68}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>tone_primary_6_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,222},{68,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,68}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>tone_primary_6_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,296},{68,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,68}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>tone_primary_7_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,296},{68,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,68}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>tone_primary_full.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,152},{68,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,68}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>audioObjects-hd.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f66b833066dfe973d8919ec1789bf352:93047ebf15b4cc6a6337b22b787e1fbd:b365ed0847c6905af74912c7dbbb1edb$</string>
            <key>textureFileName</key>
            <string>audioObjects-hd.png</string>
        </dict>
    </dict>
</plist>
