<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>arrow_up_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,426},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>arrow_up_off_static.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,468},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>arrow_up_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,426},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>audio_box_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,2},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>audio_box_off_static.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,388},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>audio_box_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,286},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>audio_connector.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,250},{40,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,60}}</string>
                <key>sourceSize</key>
                <string>{40,60}</string>
            </dict>
            <key>audio_connector_padded.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,240},{40,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,60}}</string>
                <key>sourceSize</key>
                <string>{40,60}</string>
            </dict>
            <key>clear_rect_audio_batch.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,508},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>drum_primary_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,490},{12,12}}</string>
                <key>offset</key>
                <string>{0,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,0},{12,12}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>drum_primary_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,490},{12,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,0},{12,68}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>drum_primary_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,212},{36,56}}</string>
                <key>offset</key>
                <string>{12,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,0},{36,56}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>drum_primary_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,292},{40,40}}</string>
                <key>offset</key>
                <string>{14,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>drum_primary_2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,72},{38,30}}</string>
                <key>offset</key>
                <string>{13,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,0},{38,30}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>drum_primary_2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,142},{36,26}}</string>
                <key>offset</key>
                <string>{12,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,0},{36,26}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>drum_primary_3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,150},{60,56}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{60,56}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>drum_primary_3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,286},{40,68}}</string>
                <key>offset</key>
                <string>{14,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,0},{40,68}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>drum_primary_3_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,200},{38,62}}</string>
                <key>offset</key>
                <string>{13,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,0},{38,62}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>drum_primary_3_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,2},{38,54}}</string>
                <key>offset</key>
                <string>{12,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,0},{38,54}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>drum_primary_4_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,72},{68,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,68}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>drum_primary_4_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,142},{56,62}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{56,62}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>drum_primary_4_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,174},{38,68}}</string>
                <key>offset</key>
                <string>{12,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,0},{38,68}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>drum_primary_5_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,172},{64,62}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{64,62}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>drum_primary_5_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,356},{62,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{62,68}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>drum_primary_6_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,426},{62,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{62,68}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>pad_border_corner.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,104},{72,72}}</string>
                <key>offset</key>
                <string>{-34,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,72}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>pad_border_corner_inside.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,428},{72,72}}</string>
                <key>offset</key>
                <string>{-34,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,72}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>pad_border_corner_outside.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,144},{140,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>pad_border_strait.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,502},{4,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,0},{4,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>pad_border_strait_right_fill.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,286},{72,140}}</string>
                <key>offset</key>
                <string>{34,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,0},{72,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>pad_fill.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{140,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>tone_primary_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,248},{36,68}}</string>
                <key>offset</key>
                <string>{16,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,0},{36,68}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>tone_primary_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,42},{36,52}}</string>
                <key>offset</key>
                <string>{16,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,0},{36,52}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>tone_primary_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,356},{36,36}}</string>
                <key>offset</key>
                <string>{16,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,0},{36,36}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>tone_primary_1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,468},{36,36}}</string>
                <key>offset</key>
                <string>{15,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,0},{36,36}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>tone_primary_1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,104},{32,36}}</string>
                <key>offset</key>
                <string>{14,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,0},{32,36}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>tone_primary_1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,72},{30,36}}</string>
                <key>offset</key>
                <string>{12,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,0},{30,36}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>tone_primary_1_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,142},{28,36}}</string>
                <key>offset</key>
                <string>{11,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,0},{28,36}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>tone_primary_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,356},{64,68}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{64,68}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>tone_primary_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,248},{36,68}}</string>
                <key>offset</key>
                <string>{16,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,0},{36,68}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>tone_primary_2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,248},{36,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,62}}</string>
                <key>sourceSize</key>
                <string>{36,62}</string>
            </dict>
            <key>tone_primary_2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,42},{36,52}}</string>
                <key>offset</key>
                <string>{16,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,0},{36,52}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>tone_primary_2_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,238},{36,44}}</string>
                <key>offset</key>
                <string>{16,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,0},{36,44}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>tone_primary_2_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,468},{36,36}}</string>
                <key>offset</key>
                <string>{16,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,0},{36,36}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>tone_primary_3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,2},{68,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,68}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>tone_primary_3_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,286},{56,68}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{56,68}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>tone_primary_3_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,248},{36,68}}</string>
                <key>offset</key>
                <string>{16,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,0},{36,68}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>tone_primary_3_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,248},{36,66}}</string>
                <key>offset</key>
                <string>{16,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,0},{36,66}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>tone_primary_3_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,282},{36,60}}</string>
                <key>offset</key>
                <string>{16,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,0},{36,60}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>tone_primary_4_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,2},{68,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,68}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>tone_primary_4_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,356},{64,68}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{64,68}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>tone_primary_4_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,80},{50,68}}</string>
                <key>offset</key>
                <string>{9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,0},{50,68}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>tone_primary_4_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,248},{36,68}}</string>
                <key>offset</key>
                <string>{16,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,0},{36,68}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>tone_primary_5_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,2},{68,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,68}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>tone_primary_5_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,104},{68,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,68}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>tone_primary_5_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,72},{60,68}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{60,68}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>tone_primary_6_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,178},{68,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,68}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>tone_primary_6_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,2},{68,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,68}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>tone_primary_7_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,286},{68,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,68}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>tone_primary_full.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,178},{68,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,68}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>audioObjects-hd.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:98fb6d0812ac5efee7aa8beb845ef92b:709a759a93a92e07da4589e323f6f895:b365ed0847c6905af74912c7dbbb1edb$</string>
            <key>textureFileName</key>
            <string>audioObjects-hd.png</string>
        </dict>
    </dict>
</plist>
