<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>arrow_up_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,284},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>arrow_up_off_static.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,274},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>arrow_up_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,252},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>arrow_up_on_static.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,330},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>audio_box.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,74},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>audio_box_highlight.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{74,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,74}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>audio_box_static.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,82},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>clear_rect_audio_batch.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,78},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>drum_primary_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,276},{30,32}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{30,32}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>drum_primary_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,230},{30,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{30,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>drum_primary_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,252},{30,32}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{30,32}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>drum_primary_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,206},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>drum_primary_1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,262},{32,32}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>drum_primary_1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,196},{32,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{32,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>drum_primary_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,186},{30,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{30,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>drum_primary_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,308},{30,32}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{30,32}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>drum_primary_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,182},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>drum_primary_2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,248},{32,32}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>drum_primary_2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,184},{32,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{32,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>drum_primary_3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,276},{30,32}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{30,32}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>drum_primary_3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,148},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>drum_primary_3_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,218},{32,32}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>drum_primary_3_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,182},{32,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{32,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>drum_primary_4_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,150},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>drum_primary_4_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,242},{32,32}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>drum_primary_4_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,162},{32,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{32,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>drum_primary_5_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,218},{32,32}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>drum_primary_5_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,148},{32,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{32,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>drum_primary_6_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,38},{32,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{32,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>entry_up_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,308},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>entry_up_off_static.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,292},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>entry_up_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,124},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>entry_up_on_static.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,102},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>pad_border_corner.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,112},{36,36}}</string>
                <key>offset</key>
                <string>{-17,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,36}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>pad_border_corner_inside.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,74},{36,36}}</string>
                <key>offset</key>
                <string>{-17,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,36}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>pad_border_corner_outside.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,2},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>pad_border_strait.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,78},{2,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,0},{2,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>pad_border_strait_right_fill.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,74},{36,70}}</string>
                <key>offset</key>
                <string>{17,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,0},{36,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>pad_fill.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,2},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>tone_primary_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,202},{18,34}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{18,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>tone_primary_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,272},{18,26}}</string>
                <key>offset</key>
                <string>{8,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,0},{18,26}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>tone_primary_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,296},{18,18}}</string>
                <key>offset</key>
                <string>{8,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{18,18}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>tone_primary_1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,282},{18,18}}</string>
                <key>offset</key>
                <string>{8,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{18,18}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>tone_primary_1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,146},{16,18}}</string>
                <key>offset</key>
                <string>{7,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{16,18}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>tone_primary_1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,126},{16,18}}</string>
                <key>offset</key>
                <string>{6,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,0},{16,18}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>tone_primary_1_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,74},{14,18}}</string>
                <key>offset</key>
                <string>{6,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{14,18}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>tone_primary_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,2},{32,34}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{32,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>tone_primary_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,202},{18,34}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{18,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>tone_primary_2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,238},{18,32}}</string>
                <key>offset</key>
                <string>{8,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{18,32}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>tone_primary_2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,272},{18,26}}</string>
                <key>offset</key>
                <string>{8,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,0},{18,26}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>tone_primary_2_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,82},{18,22}}</string>
                <key>offset</key>
                <string>{8,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,0},{18,22}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>tone_primary_2_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,282},{18,18}}</string>
                <key>offset</key>
                <string>{8,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{18,18}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>tone_primary_3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,126},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>tone_primary_3_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,218},{28,34}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{28,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>tone_primary_3_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,202},{18,34}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{18,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>tone_primary_3_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,166},{18,34}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{18,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>tone_primary_3_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,276},{18,30}}</string>
                <key>offset</key>
                <string>{8,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{18,30}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>tone_primary_4_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,170},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>tone_primary_4_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,2},{32,34}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{32,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>tone_primary_4_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,248},{26,34}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{26,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>tone_primary_4_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,202},{18,34}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{18,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>tone_primary_5_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,146},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>tone_primary_5_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,134},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>tone_primary_5_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,216},{30,34}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{30,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>tone_primary_6_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,112},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>tone_primary_6_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,126},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>tone_primary_7_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,126},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>tone_primary_full.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,112},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>audioObjects.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9b58b148981b25c8a71c99f90543bb5c:c0eed86a35c0dae09277aa1956c3705f:b365ed0847c6905af74912c7dbbb1edb$</string>
            <key>textureFileName</key>
            <string>audioObjects.png</string>
        </dict>
    </dict>
</plist>
