<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>audio_box_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{8,2},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>audio_box_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,144},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>clear_rect_audio_batch.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,246},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>pad_border_corner.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,2},{72,72}}</string>
                <key>offset</key>
                <string>{-34,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,72}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>pad_border_strait.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{4,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,0},{4,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>audioObjects-hd.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f46ece2e2fa7762d475d494d80c25e48:276e4c0fd5a6130005734f0810469bc3:b365ed0847c6905af74912c7dbbb1edb$</string>
            <key>textureFileName</key>
            <string>audioObjects-hd.png</string>
        </dict>
    </dict>
</plist>
