<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>arrow_up_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,110},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>arrow_up_off_static.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,24},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>arrow_up_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,2},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>audio_box_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,2},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>audio_box_off_static.png</key>
            <dict>
                <key>frame</key>
                <string>{{6,2},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>audio_box_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,74},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>audio_connector.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,234},{20,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,30}}</string>
                <key>sourceSize</key>
                <string>{20,30}</string>
            </dict>
            <key>audio_connector_padded.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,234},{20,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,30}}</string>
                <key>sourceSize</key>
                <string>{20,30}</string>
            </dict>
            <key>clear_rect_audio_batch.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,110},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>pad_border_corner.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,126},{36,36}}</string>
                <key>offset</key>
                <string>{-17,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,36}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>pad_border_strait.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{2,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,0},{2,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>tone_primary_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,54},{18,34}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,0},{18,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>tone_primary_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,236},{18,26}}</string>
                <key>offset</key>
                <string>{8,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,0},{18,26}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>tone_primary_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,74},{18,18}}</string>
                <key>offset</key>
                <string>{8,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{18,18}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>tone_primary_1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,132},{18,18}}</string>
                <key>offset</key>
                <string>{8,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{18,18}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>tone_primary_1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,2},{16,18}}</string>
                <key>offset</key>
                <string>{7,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{16,18}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>tone_primary_1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,46},{16,18}}</string>
                <key>offset</key>
                <string>{6,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,0},{16,18}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>tone_primary_1_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,110},{14,18}}</string>
                <key>offset</key>
                <string>{6,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,0},{14,18}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>tone_primary_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,198},{32,34}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{32,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>tone_primary_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,54},{18,34}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,0},{18,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>tone_primary_2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,236},{18,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,31}}</string>
                <key>sourceSize</key>
                <string>{18,31}</string>
            </dict>
            <key>tone_primary_2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,236},{18,26}}</string>
                <key>offset</key>
                <string>{8,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,0},{18,26}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>tone_primary_2_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,54},{18,22}}</string>
                <key>offset</key>
                <string>{8,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,0},{18,22}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>tone_primary_2_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,54},{18,18}}</string>
                <key>offset</key>
                <string>{8,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{18,18}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>tone_primary_3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,162},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>tone_primary_3_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,113},{28,34}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{28,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>tone_primary_3_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,54},{18,34}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,0},{18,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>tone_primary_3_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{6,54},{18,34}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,0},{18,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>tone_primary_3_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{35,236},{18,30}}</string>
                <key>offset</key>
                <string>{8,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,0},{18,30}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>tone_primary_4_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,74},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>tone_primary_4_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,198},{32,34}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{32,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>tone_primary_4_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,74},{26,34}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{26,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>tone_primary_4_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,54},{18,34}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,0},{18,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>tone_primary_5_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,126},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>tone_primary_5_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,200},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>tone_primary_5_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,198},{30,34}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{30,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>tone_primary_6_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,164},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>tone_primary_6_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,162},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>tone_primary_7_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,200},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>tone_primary_full.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,164},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>audioObjects.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ae045aa582d866c753178764b65d002e:6995cce2e9685bc8343217f6b02aee6c:b365ed0847c6905af74912c7dbbb1edb$</string>
            <key>textureFileName</key>
            <string>audioObjects.png</string>
        </dict>
    </dict>
</plist>
