<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>check.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,130},{58,36}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,22},{58,36}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>clear_rect_uilayer.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,124},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>controls_panel_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{180,304}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,304}}</string>
                <key>sourceSize</key>
                <string>{180,304}</string>
            </dict>
            <key>controls_panel_left_half.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,2},{120,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,200}}</string>
                <key>sourceSize</key>
                <string>{120,200}</string>
            </dict>
            <key>controls_panel_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,184},{640,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,204}}</string>
                <key>sourceSize</key>
                <string>{640,204}</string>
            </dict>
            <key>controls_panel_right_bottom.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,124},{660,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{660,104}}</string>
                <key>sourceSize</key>
                <string>{660,104}</string>
            </dict>
            <key>controls_panel_top_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,826},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>dotted_line_40_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,124},{76,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{76,4}}</string>
                <key>sourceSize</key>
                <string>{80,4}</string>
            </dict>
            <key>exit_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,172},{34,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,35},{34,30}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>exit_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,140},{34,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,35},{34,30}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>numButton1.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,418},{44,46}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,15},{44,46}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>numButton2.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,418},{44,46}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,15},{44,46}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>numButton3.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,372},{44,46}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,15},{44,46}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>numButton4.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,372},{44,46}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,15},{44,46}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>numButton5.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,326},{44,46}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,15},{44,46}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>numButton6.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,326},{44,46}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,15},{44,46}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>numButton7.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,280},{44,46}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,15},{44,46}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>numButton8.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,280},{44,46}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,15},{44,46}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>numButtonHighlight.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,464},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,18},{44,44}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>play.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,224},{54,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,13},{54,54}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>speaker.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,168},{56,54}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,13},{56,54}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>tickdot_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,124},{14,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,17},{14,14}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>tickdot_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,464},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{44,44}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>x.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,204},{52,32}}</string>
                <key>offset</key>
                <string>{0,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,4},{52,32}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>uilayer-hd.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e9d4d1178fd7d066a460947013c91a4a:3902b3b25a08000e3b10eeb31bb47bc5:842074752256af9eab1246752001c5a2$</string>
            <key>textureFileName</key>
            <string>uilayer-hd.png</string>
        </dict>
    </dict>
</plist>
