<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>check.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,34},{38,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,10},{38,28}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>clear_rect_uilayer.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,402},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>control_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,2},{660,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{660,176}}</string>
                <key>sourceSize</key>
                <string>{660,176}</string>
            </dict>
            <key>dotted_line_2_80.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,164},{4,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{4,158}}</string>
                <key>sourceSize</key>
                <string>{4,160}</string>
            </dict>
            <key>dotted_line_40_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,324},{76,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{76,4}}</string>
                <key>sourceSize</key>
                <string>{80,4}</string>
            </dict>
            <key>exit_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,176},{32,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,66},{32,28}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>exit_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,488},{160,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,160}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>gradient_mask_76_556.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,650},{152,1112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,1112}}</string>
                <key>sourceSize</key>
                <string>{152,1112}</string>
            </dict>
            <key>itemButtonArrowOff.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,618},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>itemButtonArrowOn.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,536},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>itemButtonAudioStopOff.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,454},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>itemButtonAudioStopOn.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,372},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>itemButtonSpeedDoubleOff.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,290},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>itemButtonSpeedDoubleOn.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,208},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>itemButtonWarpOff.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,126},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>itemButtonWarpOn.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,44},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>item_menu_bottom.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,318},{152,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,20}}</string>
                <key>sourceSize</key>
                <string>{152,20}</string>
            </dict>
            <key>item_menu_top.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,164},{152,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,20}}</string>
                <key>sourceSize</key>
                <string>{152,20}</string>
            </dict>
            <key>items_button_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,2},{108,40}}</string>
                <key>offset</key>
                <string>{40,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,60},{108,40}}</string>
                <key>sourceSize</key>
                <string>{188,160}</string>
            </dict>
            <key>items_button_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{188,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,160}}</string>
                <key>sourceSize</key>
                <string>{188,160}</string>
            </dict>
            <key>play_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,126},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,56},{48,48}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>play_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,326},{160,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,160}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>speaker_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,74},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,55},{50,50}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>speaker_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,164},{160,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,160}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>tickdot_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,472},{14,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,17},{14,14}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>tickdot_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,2},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,9},{30,30}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>x.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,650},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{34,34}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>uilayer-hd.png</string>
            <key>size</key>
            <string>{512,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e8ff7210030479bdc7427148a83921ed:622e2d77e823c5c0f01b611b0f5ff90c:842074752256af9eab1246752001c5a2$</string>
            <key>textureFileName</key>
            <string>uilayer-hd.png</string>
        </dict>
    </dict>
</plist>
