<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>check.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,56},{30,18}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,11},{30,18}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>clear_rect_uilayer.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,2},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>controls_panel_left_edge.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,2},{90,52}}</string>
                <key>offset</key>
                <string>{0,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,52}}</string>
                <key>sourceSize</key>
                <string>{90,152}</string>
            </dict>
            <key>controls_panel_left_fill.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{90,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,152}}</string>
                <key>sourceSize</key>
                <string>{90,152}</string>
            </dict>
            <key>controls_panel_right_bottom_edge.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,94},{330,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{330,52}}</string>
                <key>sourceSize</key>
                <string>{330,52}</string>
            </dict>
            <key>controls_panel_right_bottom_fill.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,56},{330,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{330,52}}</string>
                <key>sourceSize</key>
                <string>{330,52}</string>
            </dict>
            <key>controls_panel_top_left_edge.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,446},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>controls_panel_top_left_fill.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,394},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>dotted_line_40_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,2},{38,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{38,2}}</string>
                <key>sourceSize</key>
                <string>{40,2}</string>
            </dict>
            <key>exit_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,94},{16,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,18},{16,14}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>exit_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,76},{16,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,18},{16,14}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>numButton1.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,322},{22,24}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,7},{22,24}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>numButton2.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,298},{22,24}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,7},{22,24}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>numButton3.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,274},{22,24}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,7},{22,24}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>numButton4.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,250},{22,24}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,7},{22,24}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>numButton5.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,226},{22,24}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,7},{22,24}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>numButton6.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,202},{22,24}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,7},{22,24}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>numButton7.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,178},{22,24}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,7},{22,24}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>numButton8.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,154},{22,24}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,7},{22,24}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>numButtonHighlight.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,370},{22,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,9},{22,22}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>play.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,106},{28,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{28,28}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>speaker.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,76},{28,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{28,28}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>tickdot_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,56},{8,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{8,8}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>tickdot_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,346},{22,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{22,22}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>x.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,136},{26,16}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,2},{26,16}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>uilayer.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d2af57abc0a6b94f9f965263793460a8:435f0a1dbf262b3a95e2505bf2f50d31:842074752256af9eab1246752001c5a2$</string>
            <key>textureFileName</key>
            <string>uilayer.png</string>
        </dict>
    </dict>
</plist>
