<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>check.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,204},{38,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,10},{38,28}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>clear_rect_uilayer.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,18},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>control_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{660,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{660,176}}</string>
                <key>sourceSize</key>
                <string>{660,176}</string>
            </dict>
            <key>dotted_line_2_80.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,2},{4,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{4,158}}</string>
                <key>sourceSize</key>
                <string>{4,160}</string>
            </dict>
            <key>dotted_line_40_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,8},{76,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{76,4}}</string>
                <key>sourceSize</key>
                <string>{80,4}</string>
            </dict>
            <key>exit_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,76},{152,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,72}}</string>
                <key>sourceSize</key>
                <string>{152,72}</string>
            </dict>
            <key>exit_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,82},{152,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,72}}</string>
                <key>sourceSize</key>
                <string>{152,72}</string>
            </dict>
            <key>hamburger_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,8},{152,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,72}}</string>
                <key>sourceSize</key>
                <string>{152,72}</string>
            </dict>
            <key>hamburger_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,2},{152,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,72}}</string>
                <key>sourceSize</key>
                <string>{152,72}</string>
            </dict>
            <key>itemButtonArrowOff.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,484},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>itemButtonArrowOn.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,402},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>itemButtonAudioStopOff.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,402},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>itemButtonAudioStopOn.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,408},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>itemButtonSpeedDoubleOff.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,402},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>itemButtonSpeedDoubleOn.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,326},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>itemButtonWarpOff.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,320},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>itemButtonWarpOn.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,320},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>item_menu_bottom.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,156},{152,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,20}}</string>
                <key>sourceSize</key>
                <string>{152,20}</string>
            </dict>
            <key>item_menu_top.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,150},{152,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,20}}</string>
                <key>sourceSize</key>
                <string>{152,20}</string>
            </dict>
            <key>play_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,252},{144,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,72}}</string>
                <key>sourceSize</key>
                <string>{144,72}</string>
            </dict>
            <key>play_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,246},{144,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,72}}</string>
                <key>sourceSize</key>
                <string>{144,72}</string>
            </dict>
            <key>speaker_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,178},{144,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,72}}</string>
                <key>sourceSize</key>
                <string>{144,72}</string>
            </dict>
            <key>speaker_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,172},{144,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,72}}</string>
                <key>sourceSize</key>
                <string>{144,72}</string>
            </dict>
            <key>tickdot_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,2},{14,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,17},{14,14}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>tickdot_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,172},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,9},{30,30}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>x.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,246},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{34,34}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>uilayer-hd.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4dfb3e3ce67e8967a684dda39d323214:1/1$</string>
            <key>textureFileName</key>
            <string>uilayer-hd.png</string>
        </dict>
    </dict>
</plist>
